.container .gridDivs {
    display: flex;
    margin: auto;
    justify-content: center;
}


h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: #838e97;
}

.myDiv {
    background-color: #d8e0e6;
    height: 30px;
    width: 30px;
    justify-content: center;
}   

.buttons{
    display: flex;
    margin: auto;
    justify-content: center;
}